//============================================
// Sprite Definition
//============================================

$i-map: (
  download-width: 32px,
  download-height: 32px,

  like-width: 32px,
  like-height: 32px,

  search-width: 52.966px,
  search-height: 52.966px,

  test-width: 32px,
  test-height: 32px,
);

.i-download {
  width: 32px;
  height: 32px;
}

.i-like {
  width: 32px;
  height: 32px;
}

.i-search {
  width: 52.966px;
  height: 52.966px;
}

.i-test {
  width: 32px;
  height: 32px;
}

