//============================================
// Header
//============================================

.page-header {
    position: relative;
    height: 70vh;
    // background: radial-gradient(circle at top right, red, ease-in-out, blue);
    background-image: url('https://source.unsplash.com/1920x1080/');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.6);
    }

    &__wrap {
        width: 60%;
        position: relative;
        z-index: 2;
    }
}

.page-header-title {
    font-size: 42px;
    text-transform: capitalize;
    text-align: left;
}
